Language:        Cpp
BasedOnStyle:    Google
IndentWidth:     4
UseTab:          Never
ColumnLimit:     150 
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
IndentCaseLabels: true
IndentCaseBlocks: true
IndentGotoLabels: true
